<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script th:src="@{/js/jquery/jquery.min.js}"></script>

</head>
<body>
    <!-- [header] 영역 시작 -->
		<header th:replace="fragments/header :: headerFragment"></header>
	<!-- [header] 영역 끝 -->
    
    <form th:action="@{/hello/communitymodify}" th:method="POST" class="content-body">
    	<input type="hidden" name="page" th:value="${requestDTO.page}">
		<input type="hidden" name="type" th:value="${requestDTO.type}">
		<input type="hidden" name="keyword" th:value="${requestDTO.keyword}">
    
        <input type="hidden" name="boardcase" value="1">
        <input type="hidden" name="memberNum" th:value="${member.memberNum}">
        <input type="hidden" name="boardNum" th:value="${dto.boardNum}">
    
    	<!-- 제목 -->
        <div class="text">
            <p>제목</p>
        </div>
        <div class="content">
            <input type="text" name="title" th:value="${dto.title}" id="mustTitle">
        </div>
        
        <!-- tag -->
        <div></div>
        <div class="text">
            <p>태그</p>
        </div>
        <div class="content">
            <input type="text" name="tag" th:value="${dto.tag}" >
        </div>
        
        <!-- 내용 -->
        <div class="text">
            <p>본문</p>
        </div>
        <div class="maincontent">
            <input type="text" name="content" cols="127" rows="20" th:value="${dto.content}" id="mustContent">
<!--             <textarea name="content" id="" cols="127" rows="20" th:value="${dto.content}" id="mustContent"></textarea> -->
        </div>
        
        <div class="button">
            <div>
            	<button type="button" class="listBtn">취소</button>
            </div>
            <div class="postbutton">
            	<button type="button" class="removeBtn">삭제</button>
            </div>
            <div class="postbutton">
            	<button type="button" class="modifyBtn" id="reqCheck">수정</button>
            </div>
        </div>
    </form>
    <footer th:replace="fragments/footer :: footerFragment"></footer>
</body>

	<script th:inline="javascript">
	
			var actionForm = $("form");
			
			$(".removeBtn").click(function(){
				if(!confirm("삭제하시겠습니까?")){
					return;
				}
				
				actionForm
					.attr("action", "/hello/communityremove")
					.attr("method", "post");
				actionForm.submit();
			});
			
			$(".listBtn").click(function(){
				var pageInfo = $("input[name='page']");
				var type=$("input[name='page']");
				var keyword=$("input[name='keyword']");
				
				actionForm.empty();
				actionForm.append(pageInfo);
				actionForm.append(type);
				actionForm.append(keyword);
				actionForm.attr("action", "/hello/communitylist")
							.attr("method", "GET");
				
				actionForm.submit();
			});
	</script>

	<script>
		//제목,본문 공백 및 최대 글자수 체크 후 수정
		$("#reqCheck").click(function () {
			if (($("#mustTitle").val() == '') || ($("#mustTitle").val().length > 90)) {
				alert("제목이 비어있거나 너무 깁니다.");
				return false;
			} else if (($("#mustContent").val() == '') || ($("#mustContent").val().length > 2990)) {
				alert("본문이 비어있거나 너무 깁니다.");
				return false;
			} else {
				if (!confirm("수정하시겠습니까?")) {
					return;
				}
				actionForm
					.attr("action", "/hello/communitymodify")
					.attr("method", "post");
				actionForm.submit();
			}
		});
	</script>	

</html>