<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>카카오페이 결제</title>
</head>
<body>

	<!-- jQuery -->
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	<!-- iamport.payment.js -->
	<script type="text/javascript"
		src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>

	<div class="card-body bg-white mt-0 shadow">
		<p style="font-weight: bold">카카오페이 현재 사용가능</p>
		<label class="box-radio-input">
			<input type="radio" name="cp_item" value="5000"><span>5,000원</span></label> 
		<label class="box-radio-input">
			<input type="radio" name="cp_item" value="10000"><span>10,000원</span></label> 
		<label class="box-radio-input">
			<input type="radio" name="cp_item" value="15000"><span>15,000원</span></label> 
		<label class="box-radio-input">
			<input type="radio" name="cp_item" value="20000"><span>20,000원</span></label> 
		<label class="box-radio-input">
			<input type="radio" name="cp_item" value="25000"><span>25,000원</span></label> 
		<label class="box-radio-input">
			<input type="radio" name="cp_item" value="30000"><span>30,000원</span></label> 
		<label class="box-radio-input">
			<input type="radio" name="cp_item" value="35000"><span>35,000원</span></label> 
		<label class="box-radio-input">
			<input type="radio" name="cp_item" value="40000"><span>40,000원</span></label> 
		<label class="box-radio-input">
			<input type="radio" name="cp_item" value="50000"><span>50,000원</span>
		</label>
			<p style="color: #ac2925; margin-top: 30px">
			카카오페이의 최소 충전금액은 5,000원이며 <br />최대 충전금액은 50,000원 입니다.
			</p>
		<button type="button" class="btn btn-lg btn-block  btn-custom" id="charge_kakao">충 전 하 기</button>
	</div>
</body>

<script th:inline="javascript">
/*<![CDATA[*/
	$('#charge_kakao').click(function () {
	 // getter
	 var IMP = window.IMP;
	 IMP.init("imp17634270");
	 
	 var charge = $('input[name="cp_item"]:checked').val();
	 console.log(charge);
	 
	 const myNum = /*[[${myInfo.memberNum}]]*/ {};
	 const myNickname = /*[[${myInfo.nickname}]]*/ {};
	
	 IMP.request_pay({
	     pg: 'kakaopay.TC0ONETIME',
	     merchant_uid: 'merchant_' + new Date().getTime(),  //매번 고유해야함
	     name: '주문명 : 포인트 충전', <!-- '주문명 : 주문명 설정' -->
			charge: charge, 
	     buyer_name: myNickname
	 }, function (rsp) {
	         $.ajax({
	             type: "POST", 
	             url: "/hello/kakaopay", //충전 금액값을 보낼 url 설정
	             dataType: 'application/JSON; charset=UTF-8',
	             data: {
	                 "memberNum" : myNum,
	             	"charge" : charge
	             },
	             success: function (result){
	             	if (result){
	             		alert("결제에 성공했습니다.");
	             	} else {
	             		alert("결제에 실패했습니다.");
	             	}
	             }
	         });
// 	     document.location.href="/hello/point"; //alert창 확인 후 이동할 url 설정
	 });
	});
	/*]]>*/
</script>


</html>