<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<link rel="stylesheet" href="/iconcss/memo.css">
<body onresize="parent.resizeTo(450,650)" onload="parent.resizeTo(450,650)">
    <div class="top">메모장</div>
    <div class="menu">
        <img class="large same" src="/img/plus.png" alt="" width="30px">
        <img class="small same" src="/img/minus.png" alt="" width="30px">
        <img class="reset same" src="/img/reset.png" alt="" width="30px">
    </div>
    <button class="entermenu"></button>
    <div class="bottom"><textarea class="content" spellcheck="false"></textarea></div>
    <script src="/js/ajax/memo.js"></script>
</body>
</html>