*{
    padding: 0;
    margin: 0;
}
main {
    width: 100%;
    height: 100%;
}

/*button-wrap이라는 class 요소를 선택자로 하고, grid 디스플레이 적용,
repeat(반복횟수, 반복값)
*/
.button-wrap {
    display: grid;
    /* 한 줄에 4개씩, 모두 동일한 비율 적용(1:1:1:1) */
    grid-template-columns: repeat(4, 1fr);
}

button {
    background: #828284;
    border: 1px solid #454448;
    font-size: 1.7rem;
}
/* nth-child(4n+2): 4번째 요소마다 스타일을 적용하는데 처음에만 두번째에 적용 */
button:nth-child(4n+2), button:last-child  {
    background-color: orange;
}
button:hover {
    opacity: .5;
}

/*ac버튼 크기 조정*/
.ac {
  /*4등분하여 나온 5개의 선 중에서 첫번째 선부터 4번째 선까지 지정*/
  grid-column: 1/4;
  background: #6A6A6C;
}

/*0버튼 크기 조정*/
.zero {
  /*4등분하여 나온 5개의 선 중에서 첫번째 선부터 3번째 선까지 지정*/
  grid-column: 1/3;
}

* {
    box-sizing: border-box;
    color: white;
}
input, button {
    height: 90px;
    outline: none;
}
input {
    width: 100%;
    height: 150px;
    text-align: right;
    border: none;
    background: #5B5B5D;
    padding-right: 1rem;
    font-size: 2.5rem;
}