     #screenshot_background {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	display: block;
	opacity: 0.3;
	text-align: center;
	box-sizing: border-box;
	z-index: 2147483647;
	border-color: black;
	border-style: solid;
}

/* 캡쳐 영역만 밝게 하기 위한 요소 */
#screenshot:before, #screenshot:after {
	border: none !important;
	content: "" !important;
	height: 100% !important;
	position: absolute !important;
	width: 100% !important
}
	
#screenshot:before {
	left: -100% !important;
	top: -100% !important
}
	
#screenshot:after {

	left: 0 !important;
	top: 0 !important
}
	
#screenshot {
	height: 100% !important;
	position: fixed !important;
	width: 100% !important;
	z-index: 2147483648 !important
}