@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&display=swap');

body{
    font-family: 'Gowun Batang', serif;
    background-color: rgb(243, 243, 211);
}

* {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/*상단 바*/
.innerHeader {
    max-width: 1920px;
    height: 30px;
    line-height: 30px;
    margin: auto;
    background-color: rgb(34, 34, 34);
}

.innerHeader .logo {
    float: left;
}

.innerHeader .logo a {
    display: block;
    padding-left: 10px;
}

/*상단 바 왼쪽*/
.innerHeader .mainmenu-left {
    float: left;
    overflow: hidden;
    position: relative;
}

.innerHeader .mainmenu-left .navbar {
    float: left;
}

.innerHeader .mainmenu-left .navbar li {
    float: left;
    margin: 2px 15px;
}

.innerHeader .mainmenu-left .navbar li a {
    display: block;
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: bolder;
}

.innerHeader .mainmenu-left .navbar li a:hover {
    font-size: 14px;
}

/*상단 바 오른쪽*/
.innerHeader .mainmenu-right {
    float: right;
    overflow: hidden;
    position: relative;
}

.innerHeader .mainmenu-right .navbar {
    float: left;
}

.innerHeader .mainmenu-right .navbar li {
    float: left;
}

.innerHeader .mainmenu-right .navbar li a {
    display: block;
    width: 100%;
    height: 100%;
    margin: 2px 15px;
    font-size: 13px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.innerHeader .mainmenu-right .navbar li a:hover {
    font-size: 14px;
}

.innerHeader .mainmenu-right .navbar li img {
    display: block;
    margin: 2px 10px 0px;
}


/*바디*/
.content-body {
    margin-top: 70px;
    max-width: 1920px;
    max-height: 1080px;
    
}

.content-body .content-header-box {
    width: 1200px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
}

.content-body .content-body-left {
    width: 37%;
    height: 700px;
    border: 1px solid #ec736e;
    border-radius: 3px;
    float: left;
    margin-right: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.content-body .content-body-left .content-body-left-header {
    width: 350px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 10px;
}

.content-body .content-body-left .content-body-left-header h1 {
    float: left;
    color: #ec736e;
}

.content-body .content-body-left .content-body-left-header #registration {
    float: right;
    margin-top: 10px;
    padding: 2px 10px;
}

.content-body .content-body-left .content-body-left-body {
    width: 100%;
    height: 60px;
    border-top: 2px dotted rgb(155, 155, 155);
}
.content-body .content-body-left .content-body-left-body .content-box{
    width: 400px;
    height: 50px;
    margin-left: 10px;
    margin-top: 8px;
}
.content-body .content-body-left .content-body-left-body .content-box .content-userimg {
    width: 42px;
    height: 42px;
    float: left;
    
}
.content-body .content-body-left .content-body-left-body .content-box .content-userimg{
    background-color: black;
    border-radius: 50%;
    margin: auto;
    margin-top: 3px;
}

.content-body .content-body-left .content-body-left-body .content-box .content-username {
    width: 150px;
    height: 30px;
    float: left;
    margin-left: 10px;
    margin-top: 12px;
}

.content-body .content-body-left .content-body-left-body .content-box .content-time {
    width: 50px;
    height: 30px;
    float: left;
    margin-left: 25px;
    margin-top: 12px;
}

.content-body .content-body-left .content-body-left-body .content-box .content-delete {
    width: 35px;
    height: 25px;

    float: left;
    margin-left: 30px;
    margin-top: 13px;
}


/*오른쪽*/
.content-body .content-body-right {
    width: 60%;
    height: 700px;
    border: 1px solid #ec736e;
    border-radius: 3px;
    float: left;
}
.content-body .content-body-right .button-box{
    width: 150px;
    height: 50px;
    margin-top: 50px;
    float: right;
}
.content-body .content-body-right .button-box button{
    background-color: #ec736e;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
}
.content-body .content-body-right .content-body-right-box {
    width: 600px;
    height: 500px;
    border: 1px solid rgb(155, 155, 155);
    border-radius: 20px;
    margin: auto;
    margin-top: 50px;
}

.content-body .content-body-right .content-body-right-box h1 {
    text-align: center;
    margin-top: 20px;
    color: #ec736e;;
    margin-bottom: 40px;
}

.content-body .content-body-right .content-body-right-box .box-top{
    width: 400px;
    height: 50px;
   
    margin: auto;
}
.content-body .content-body-right .content-body-right-box .box-top .user-title{
    float: left;
}
.content-body .content-body-right .content-body-right-box .box-top .user-content{
    float: left;
    margin-left: 100px;
    margin-top: 7px;
}
.content-body .content-body-right .content-body-right-box .box-bottom{
    width: 400px;
    height: 200px;

    margin: auto;
    margin-top: 10px;
}
.content-body .content-body-right .content-body-right-box .box-bottom .user-title{
    float: left;
}
.content-body .content-body-right .content-body-right-box .box-bottom .user-content{
    float: right;
    width: 300px;
    height: 180px;
    padding: 5px;
}
.content-body .content-body-right .content-body-right-box .box-post{
    width: 50px;
    height: 30px;
    float: right;
    margin-right: 100px;
    margin-top: 60px;
}
.content-body .content-body-right .content-body-right-box .box-post button{
    padding: 3px 5px;
}



section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #9c9c9c;}

/*라디오버튼 숨김*/
.content-body .content-body-left .content-body-left-header .main input {
      display: none;
}
#post-label{
    margin-left: 50px;
}
label {
    display: inline-block;
    margin: 0 0 -1px;
    
    padding: 15px 15px;
    font-weight: 300;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
}

label:hover {
    color: #ec736e;
    cursor: pointer;}

/*input 클릭시, label 스타일*/
input:checked + label {
      color: #555;
      border: 1px solid #9c9c9c;
      border-top: 2px solid #ec736e;
      border-bottom: 1px solid rgb(241, 241, 197);}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
    display: block;}